.btn {
    --bs-btn-padding-x: 0.3rem !important;
    --bs-btn-padding-y: 0.01rem !important;
}

.dragZoom {
    border: 3px solid red !important;

}
.ol-full-screen {
    top: 3em !important;
    right: 0.5em !important;
}
.ol-control.ol-bookmark {
    top: 6.4em !important;
    left: 0.5em !important;
}

.ol-button i {
    color: inherit;
}

.ol-control button i,
.ol-control.ol-bar .ol-control button i {
    color: inherit !important;
}

.ol-mouse-position {
    top: unset !important;
    bottom: 10px !important;
    right: 15px;
    font-size: 14px;
    /*font-weight: bold;*/
    text-align: center;
    color: white;
    position: absolute;
    background: rgba(0, 60, 136, 0.3);
    border-radius: 4px;
    padding: 2px;
}
